<!--<div class = "col-sm-7" class = "white-cards-bar">-->

    <!-- Hide this entire section if the game has either not started or has ended-->
    <div ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">

        <!--Show this div if the player is the czar and no answer has been chosen-->
        <div ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
            <p class="instruction-text">Waiting for players to pick a card</p>
        </div>

        <!-- Show this section if answers have been chosen to both the czar and other players -->
        <div ng-show="showTable || isCzar()">
            <p ng-show="isCzar() && game.table.length!==0" class="instruction-text">Pick winning card</p>
            <p ng-show="!isCzar()" class="instruction-text">Waiting for the czar</p>
            <div class = "white-cards-holder">

                <!-- Cycle through the answers selected in the game answer table -->
                <div ng-repeat="answer in game.table">
                    <div class="game-cards" ng-click="pickWinning(answer)"
                    ng-repeat="card in answer.card" ng-style="pointerCursorStyle()">
                        <p ng-bind-html="card.text"></p>
                        <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
                        <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show this area if the player(not the czar) has not selected an answer -->
        <div ng-hide="showTable || isCzar()">
            <p class="instruction-text">Pick your answer</p>
            <div class = "white-cards-holder">

                <!-- Display the cards in a players deck -->
                <div class = "game-cards" ng-click="pickCard(card)"
                ng-repeat="card in game.players[game.playerIndex].hand"
                ng-style="{'cursor':'pointer'}">
                    <p ng-bind-html="card.text"></p>
                    <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
                    <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
