<div class = "container" ng-controller="GameController">

  <div class="row">
    <div class = "col-sm-12" id = "black-cards-bar">
      <div class = "row">
        <div class = "col-sm-3 col-xs-2" id = "black-cards-deck-holder">
          <div class = "game-cards" id = "deck-of-black-cards">
            CFH.IO
          </div>
        </div>
        <question></question>
        <div class = "col-sm-3 col-xs-2" id = "timer-place">
          <timer></timer>
          <button type="button" class="btn btn-default btn-md" id = "exit">Leave Game</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class = "col-sm-12 col-xs-12" id = "players-cards">
      <div class = "row">
        <player players="game.players"></player>
        <div class = "col-sm-9" id = "white-cards-bar">
          <div class = "white-cards-holder">
            <div class = "game-cards">
              <p>Santa Claus</p>
            </div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards">thg</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
