<div class="chatBox" ng-controller="GameChatCtrl">
  <div class="chat" id="chat">
    <em class="chatSign" id="word">CHAT</em>
  </div>
  <div class="box" id="box">
    <div class="top" id="top">
      <img src="img/down2.png"/>
    </div>
    <div class="messages">
      <ul>
        <li ng-repeat="message in messages">
          <img ng-src="{{message.avatar}}"/>
          <div class="sideText">
            <p class="name"> {{message.sender}} <small class="time">{{message.timestamp | date:h:mma}}</small> </p>
            <p class="text"> {{message.message}} </p>
          </div>
        </li>
      </ul>
    </div>
    <div class ="bottom">
      <img src="img/smile1.png" style="margin-top:6px;"/>
      <input id="message" class="message" type="text" placeholder="Message here.."/>
      <img id="send" src="img/send.png" style="margin-top:6px"/>
    </div>
  </div>
</div>

<script>
    $(document).ready( function () {
      $('#chat').click( function () {
        $('#word').slideToggle('slow');
        $('#box').slideToggle('slow');
        $('#chat').toggleClass('close');
        $('#chat').toggleClass('chat');
      });

      $('#top').click( function () {
        $('#word').slideToggle('slow');
        $('#box').slideToggle('slow');
        $('#chat').toggleClass('close');
        $('#chat').toggleClass('chat');
      });
    });
    </script>