<div class = "container">

  <div class="row">
    <div class = "col-sm-12" id = "black-cards-bar">
      <div class = "row">
        <div class = "col-sm-3 col-xs-2" id = "black-cards-deck-holder">
          <div class = "game-cards" id = "deck-of-black-cards">
            CFH.IO
          </div>
        </div>
        <div class = "col-sm-6 col-xs-6" id = "question-holder">
          <div class = "game-cards" id = "black-card">
            <p>
              The Five Stages of Grief: denial, anger, bargaining, __________, acceptance.
            </p>
          </div>
        </div>
        <div class = "col-sm-3 col-xs-2" id = "timer-place">
          <div id = "timer"> 18 </div>
          <button type="button" class="btn btn-primary btn-lg" id = "exit">Leave Game</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class = "col-sm-12 col-xs-12" id = "players-cards">
      <div class = "row">
        <div class = "col-sm-3" id = "players-bar">
          <div id = "player-holder" class = "flex-container">
            <div id = "avatar" class = "flex-item">J</div>
            <div class = "flex-item name">John <i class="glyphicon glyphicon-user" aria-hidden="true"></i></div>
            <div id = "score" class = "flex-item">4</div>
          </div>
          <div id = "player-holder" class = "flex-container">
            <div id = "avatar" class = "flex-item">G</div>
            <div class = "flex-item name">Grace</div>
            <div id = "score" class = "flex-item">0</div>
          </div>
        </div>
        <div class = "col-sm-9" id = "white-cards-bar">
          <div class = "white-cards-holder">
            <div class = "game-cards">
              <p>Santa Claus</p>
            </div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards"></div>
            <div class = "game-cards">thg</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
