<!DOCTYPE html>
<html>
  <head>
    <title>cfh.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel = "stylesheet" href = "../css/game.css">
  </head>
  <body>
    <div class = "container">

      <div class = "col-sm-12" id = "black-cards-bar">
        <div class = "row">
          <div class = "col-sm-3 col-xs-2" id = "black-cards-deck-holder">
            <div class = "cards" id = "deck-of-black-cards">
              CFH.IO
            </div>
          </div>
          <div class = "col-sm-6 col-xs-6" id = "question-holder">
            <div class = "cards" id = "black-card">
              <p>
                The Five Stages of Grief: denial, anger, bargaining, __________, acceptance.
              </p>
            </div>
          </div>
          <div class = "col-sm-3 col-xs-2" id = "timer-place">
            <div id = "timer"> 18 </div>
            <button type="button" class="btn btn-primary btn-lg" id = "exit">Leave Game</button>
          </div>
        </div>
      </div>

      <div class = "col-sm-12 col-xs-12" id = "players-cards">
        <div class = "row">
          <div class = "col-sm-3" id = "players-bar">
            <div id = "player-holder" class = "flex-container">
              <div id = "avatar" class = "flex-item">J</div>
              <div class = "flex-item" id = "name">John</div>
              <div id = "score" class = "flex-item">4</div>
            </div>
            <div id = "player-holder" class = "flex-container">
              <div id = "avatar" class = "flex-item">G</div>
              <div class = "flex-item" id = "name">Grace</div>
              <div id = "score" class = "flex-item">0</div>
            </div>
          </div>
          <div class = "col-sm-9" id = "white-cards-bar">
            <div class = "white-cards-holder">
              <div class = "cards">
                <p>Santa Claus</p>
              </div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
              <div class = "cards"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>

</html>
