<div class = "col-sm-6 col-xs-6 question-holder">
  <div class = "awaiting-players" ng-show="game.state === 'awaiting players'">
    <p class = "ptext" ng-show = "game.players.length < game.playerMinLimit "> Waiting for more players to join game ...</p>
    <div class = "start-game" ng-show = "(game.playerIndex === 0 || game.joinOverride) && game.players.length >=  game.playerMinLimit">
      <button type = "button" class = "btn btn-primary btn-lg" class = "exit" ng-click = "startGame()" >Start Game</button>
      <p class = "ptext">with {{game.players.length}} players</p>
    </div>
</div>
  <div class = "game-cards black-card" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">
    <p class = "text" ng-bind-html="game.curQuestion.text">

    </p>
  </div>
</div>
