@import "variable";

.chat-box {
  background: $main-color;
  bottom: 0;
  color: $primary-text;
  position: fixed;
  right: 0;
  text-align: center;

  .box {
    background: $main-color;
    border: thin solid $ascent;
    height: auto;
    position: relative;
    width: 300px;
  }

  .chat-messages {
    height: 1vh;
    min-height: 280px;
    overflow-y: scroll;
  }

  .chat-top {
    background: $ascent;
    border-color: $secondary-text;
    color: $main-color;
    height: 20px;
    top: 0;
  }

  .chat {
    background: $url-0;
    border: thin solid;
    border-bottom: 0;
    border-radius: $box-radius;
    bottom: 0;
    color: $primary-text;
    height: 35px;
    position: absolute;
    width: 300px;
  }

  .chat-bottom {
    background-color: $main-color;
    bottom: 5px;
    box-shadow: ($grey-shadow-radius $grey-shadow-75);
    display: inline-block;
    height: 35px;
    padding: $chat-bottom-padding;
    position: relative;
    right: 0;
    text-align: left;
    width: 297px;
  }

  .message {
    display: inline-block;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 0;
    width: 220px;
  }
}

.close-chat {
  background: $ascent;
  border: thin solid $ascent;
  border-width: thin;
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 300px;
}

li {
  &.chat-li {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: $secondary-light;
    display: inline-block;
    margin-bottom: 5px;
    min-height: 50px;
    width: 270px;
  }

  img {
    float: left;
    margin-right: 10px;
    width: 42px;
  }
}

ul {
  &.chat-ul {
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
  }
}

.chat-side-text {
  text-align: left;
  width: 270px;
}


.chat-name {
  font-size: 15px;
  font-style: oblique;
  margin: 0;
  padding: 0;
  text-align: left;
}

.chat-text {
  color: $secondary-text;
  font-size: 12px;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  text-align: left;
}

.chat-time {
  color: $secondary-text;
  font-size: 10px;
  margin-left: 5px;
}

.is-typing {
  color: $secondary-text;
  float: left;
  font-size: 10px;
}

.chat-sign {
  display: block;
  padding: 2px;
}
