$black: #000;
$white: #fff;
$dark-grey: #eee;
$border: #d6d6c2;
$deck-of-black-cards: #ebebe0;
$score-bg: #a9a9a9;
$box-shadow: #808080;
$andela-blue: #4074f5;

// scss-lint:disable IdSelector, PropertySortOrder, ColorVariable
.container {
  margin: 0;
  width: 100%;
}

.game-cards {
  background-color: $black;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  height: 180px;
  margin: 20px 50px;
  width: 130px;
  p {
    color: $black;
    font-size: smaller;
  }
}

.players-cards {
  height: auto;
}

.deck-of-black-cards {
  border-left: 1px solid $deck-of-black-cards;
  border-top: 1px solid $deck-of-black-cards;
  box-shadow: -2px -2px 0 0  $white;
  color: $white;
  font-size: 25px;
  line-height: 180px;
  text-align: center;
}

.black-card {
  font-size: medium;
  height: 200px;
  padding: 10px;
  width: 150px;

  p {
    color: $white;
  }

  u {
    border-bottom: 0.125em solid $white;
    content: "";
    display: inline-block;
    height: 1em;
    margin-bottom: -0.125em;
    position: relative;
    text-decoration: none;
    width: 25%;
  }
}

.start-game,
.awaiting-players {
  margin-top: 100px;
}

.start-game p {
  margin-left: 10px;
}

.question-holder {
  padding-left: 100px;
}

.black-cards-bar {
  border-bottom: 3px solid $dark-grey;
  padding-bottom:10px;
}

.white-cards-bar {
  border-left: 3px solid $dark-grey;
}

.exit {
  font-size: 18px;
}

.timer-place {
  margin-top: 69px;
}

.time {
  font-size: 72px;
  font-weight: bolder;
  padding: 0 10%;
}

.avatar {
  background-color: $andela-blue;
  border-radius: 100%;
  color: $white;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.name {
  margin: auto;
  width: 100px;
}



.score {
  background-color: $score-bg;
  border-radius: 100%;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.flex-container {
  background-color: $dark-grey;
  border-radius: 50px;
  box-shadow: 0 3px 1px $box-shadow;
  display: flex;
  height: 50px;
  margin: 30px 0;
  max-width: 200px;
}

.flex-item {
  text-align: center;
}

.white-cards-holder {
  height: auto;

  .game-cards {
    background-color: $white;
    border: 1px solid $border;
    color: $white;
    float: left;
    margin: 5px;
    padding: 10px;
  }
}

.player-holder {
  position: relative;
}

@mixin bottom-radius ($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

$darkgrey: #3498db;

.is-czar {
  @include bottom-radius(2px);
  background-color: $darkgrey;
  box-shadow: 0 2px 1px $box-shadow;
  font-weight: 800;
  left: 70px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 49px;
}

.instruction-text {
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
  width: auto;
}

info-modal {
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 50px;
}
