.container {
  width: 100%;
  margin: 0; }

.game-cards {
  height: 180px;
  border: 1px solid black;
  width: 130px;
  margin: 50px;
  background-color: black;
  border-radius: 5px;
  color: white; }
  .game-cards p {
    font-size: smaller; }

#players-cards {
  height: 500px; }

#players-cards{
  height: 500px;
}

.deck-of-black-cards {
  box-shadow: -2px -2px 0 0  #000000;
  border-top: 1px solid #ebebe0;
  border-left: 1px solid #ebebe0;
  line-height: 180px;
  text-align: center;
  font-size: 25px; }

.black-card {
  padding: 10px;
  height: 200px;
  width: 150px;
  font-size: medium; }
  .black-card u {
    position: relative;
    content: '';
    display: inline-block;
    width: 25%;
    text-decoration: none;
    height: 1em;
    border-bottom: 0.125em solid #ffffff;
    margin-bottom: -0.125em; }

.start-game,
.awaiting-players {
  margin-top: 100px; }

#start-game p {
  margin-left: 10px; }

.question-holder {
  padding-left: 100px; }

.black-cards-bar {
  height: 300px;
  border-bottom: 3px solid #eee; }

#white-cards-bar {
  border-left: 3px solid #eee; }

.exit {
  font-size: 18px; }

.timer-place {
  margin-top: 69px; }

.time {
  padding: 0 10%;
  font-weight: bolder;
  font-size: 72px; }

.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #4074f5;
  color: #ffffff; }

.name {
  width: 100px;
  margin: auto; }

.score {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #a9a9a9; }

.flex-container {
  background-color: #eeeeee;
  border-radius: 50px;
  box-shadow: 0 3px 1px #808080;
  display: flex;
  height: 50px;
  margin: 30px 0;
  max-width: 200px; }

.flex-item {
  text-align: center; }

.white-cards-holder {
  height: 500px; }
  .white-cards-holder .game-cards {
    background-color: #ffffff;
    border: 1px solid #d6d6c2;
    color: #000000;
    float: left;
    margin: 10px;
    padding: 10px; }

.player-holder {
  position: relative; }

.is-czar {
  background-color: #3498db;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 2px 1px #808080;
  font-weight: 800;
  left: 70px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 49px; }

.instruction-text {
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
  width: auto; }

info-modal {
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 50px; }
