.container{
    width: 100%;
    margin: 0 !important;
}

.game-cards{
  height:200px;
  border: 1px solid black;
  width:150px;
  margin: 50px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

#players-cards{
  height: 500px;
}

#deck-of-black-cards{
  box-shadow: -2px -2px 0 0  #000000;
  border-top: 1px solid #ebebe0;
  border-left: 1px solid #ebebe0;
  line-height: 200px;
  text-align: center;
  font-size: 30px;
}
#black-card{
  padding: 10px;
}

#question-holder{
  padding-left: 100px;
}

#black-cards-bar{
  height: 300px;
  border-bottom: 3px solid #eee;
}

#white-cards-bar{
  border-left: 3px solid #eee;
}

#players-bar{

}

#exit{
  background: #4074f5;
  font-size: 18px;
}

#timer-place{
  margin-top: 69px;
}

#timer{
  padding: 0 10%;
  font-weight: bolder;
  font-size: 72px;
}

#avatar{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height:50px;
  background-color: #4074f5;
  color: white;
}

.name{
  width:100px;
  /*line-height: 50px;*/
  margin:auto;
}

#score{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height:50px;
  background-color: darkgrey;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    max-width: 200px;
    height: 50px;
    background-color: #eee;
    border-radius: 50px;
    box-shadow: 0px 3px 1px grey;
    margin: 30px 0px;
}

.flex-item {
    text-align: center;
  }

.white-cards-holder{
  padding: 20px;
  height: 500px;
}

.white-cards-holder .game-cards{
    float: left;
    background-color: white;
    margin: 10px;
    border: 1px solid  #d6d6c2;
    padding: 10px;
    color: #000000;
  }
  
  .player-holder{
    position: relative;
  }

  .is-czar{
    position: absolute;
    left: 70px;
    top: 50px;
    width: 51px;
    background-color: #3498db;
    padding:4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 2px 1px grey;
  }
