@font-face {
  font-family: 'proxima';
  src: url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-regular-webfont.ttf') format('woff')
}

@font-face {
  font-family: 'proxima-light';
  src: url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-light-webfont.ttf') format('woff')
}


@font-face {
  font-family: 'proxima-bold';
  src: url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-semibold-webfont.ttf') format('woff')
}

a{
  color: inherit !important;
  text-decoration: none;
}

/*Header*/

.navbar-light{
  background: #fff !important;
  color: #9e9e9e;

  #header-play{
    width: 110px;
    text-align: center;
    background: #4074f5;
    color: #fff;
    font-weight: bold;
  }

}


/*Main*/
.container{

  width: 100%;
  margin: 0 !important;

  .section{
    padding-bottom: 15px;
  }

  #site-title{
    padding: 20px;
  }

  #demo-video{
    width: 100%;
    padding: 0 80px;
  }


  #play-now{
    margin: 55px 0;

    button{
      background: #4074f5;
      padding: 25px;
      color: #ffffff;
      width: 230px;
      border: transparent;
      font-family: proxima-bold;
      font-size: 17px;
    }
  }
}



.how-to-play{
  background: #f6f6f6;
  padding: 15px;

  .desc-box{
    margin-top: 200px;

    .desc-text{
      font-size: 35px;
      color: #676767;
      font-weight: lighter;
      padding: 20px;
    }
  }
}

.animated-col{
  height: 500px;
  overflow: hidden;

  #how-to-play-title{
    margin-top: 16px;
  }

  .cards{
    margin-top: 20px;
    float: left;
    margin-left: 26px;
    position: absolute;
    left: 50%;

    .cards-container{
      position: relative;
      left: -50%;
      width: 500px;

      .card{
        width: 300px;
        background: white;
        padding: 20px;
        min-height: 370px;
        font-size: 23px;
        font-weight: bolder;
        font-family: proxima-bold;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
        border: 2px solid #b2b2b2;
        position: absolute;
        z-index: 2;
        left:130px;
        color: #656565;
      }

      .real-cards:first-child{
        display: inherit !important;
      }

      .card.current{
        z-index: 3;
        display: inherit !important;
      }

      .card.real-card{
        display: none;
      }

      .card.shadow-card{
        background: #dbdbdb;
        position: absolute;
        transform: rotate(-6deg);
        z-index: 1;
        left: 90px;

        #slider-controls{
          width: 460px;
          position: relative;
          top: 180px;
          transform: rotate(6deg) !important;
          left: -72px !important;

          #slider-left{
            float: left;
          }

          #slider-right{
            left: -32px;
            float: right;
          }

          .slider-controller{
            color: #6b6b6b;
            position: relative;
            z-index: 3;
            font-size: 34px;
            cursor: pointer;
          }

          .slider-controller.not-dead:hover{
            color: #575757;
          }

          .slider-controller.dead{
            color: #e8e8e8;
            cursor: not-allowed;
          }

        }

      }

    }

  }

}

#donate-title, #how-to-play-title, #site-title{
  font-family: proxima-bold;
  color: #676767 !important;
  word-spacing: 7px !important;
  letter-spacing: 10px;
}

.divider{
  background: #afafaf;
  height: 1px;
  width: 100%;
}



.quote{
  font-family: proxima-light;
  font-size: 40px;
  color: #6b6b6b;
  font-weight: lighter;

  sup{
    font-size: 14px;
    top: -1.5em !important;
  }

}

.donation-text{
  margin-top: 50px;
  font-size: 23px;
  color: #6b6b6b;
  font-family: proxima-light;
}

.donate-input{
  margin-top: 80px;
  border: 2px solid #d5d5d5;
  width: 400px;
  text-align: left;
}

.footer{
  margin-top: 80px;
  background: #444444;
  padding: 40px;

  p{
    color: #9c9c9c;
    font-size: 20px;
  }

}

.donate-input {

  input{
    outline: 0;
    color: #c2c2c2;
    padding: 20px;
    font-size: 21px;
    background: white;
    width: 226px;
    border:0;
  }

  button{
     padding: 25px;
     background: #4074f5;
     color: #fff;
     width: 170px;
     border: 0;
     font-weight: bolder;
     float:right;
     font-size: 16px;
   }
}

/*Applying user queries*/

@media (max-width:860px) {
  #demo-video{
    padding: 0 !important;
  }
}
@media (max-width:320px) {
  .cards {
    margin-left: 60px !important;
  }
}
@media (max-width:499px){
  .card{
    width:180px !important;
  }

  #slider-controls{
    width:330px !important;
  }
  .desc-box {
    margin-top: 0 !important;
  }

  #site-title{
    padding:0;
  }

  #demo-video{
    height: 300px;
  }

  #play-now{
    margin: 0 0 55px 0;
  }

  .desc-text{
    margin: 0 0 55px 0 !important;
    font-size: 25px;
  }

  .donate-input input{
    width: 60%
  }

  .donate-input button{
    width : 40%;
  }

  .donate-input {
    width: auto
  }

}