.modal-open .section {
  /* To blur the backgound when the modal is opened */
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}
.modal-dialog .modal-content {
  /* Sets the features of the modal */
  border-radius: 5;
  box-shadow: none;
  background-color: rgba(237,237,237,.9);
  padding-left: 5px;
  padding-right: 5px;
  font-family: proxima;
}

.modal-backdrop {
  background-color: rgba(255,255,255,.75);
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; 
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content {
  width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events: all;
}

.btn-signin {
  background-color: rgb(64, 116, 245);
  color: white;
}

.btn-signin:active {
  color: white;
}

.anchor {
  color: rgb(64, 144, 224) !important; 
}

@media screen and (min-width: 768px) {
  .signin-modal-width {
<<<<<<< HEAD
    width: 550px; 
=======
    width: 500px; 
>>>>>>> feature(authentication): adds social buttons and signup modal
  }

  .signup-modal-width {
    width: 325px;
<<<<<<< HEAD
  }

  .custom-modal-width {
    width: 325px; 
=======
>>>>>>> feature(authentication): adds social buttons and signup modal
  }
}