.modal-open .section {
  filter: blur(20px); }

.modal-dialog .modal-content {
  background-color: rgba(237, 237, 237, 0.9);
  border-radius: 5;
  box-shadow: none;
  font-family: proxima;
  padding-left: 5px;
  padding-right: 5px; }

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.75); }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  pointer-events: none;
  width: 100%; }

.vertical-align-center {
  display: table-cell;
  pointer-events: none;
  vertical-align: middle; }

.modal-content {
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
  width: inherit; }

.btn-signin {
  background-color: #4074f5;
  color: #ffffff; }
  .btn-signin:active {
    color: #ffffff; }

.anchor {
  color: #4090e0 !important; }

@media screen and (min-width: 768px) {
  .signin-modal-width {
    width: 650px; }
  .signup-modal-width {
    width: 325px; } }

.row.vertical-divider {
  overflow: hidden; }
  .row.vertical-divider > div[class^="col-"] {
    border-left: 1px solid #757375;
    border-right: 1px solid #757375;
    margin-bottom: -100px;
    padding-bottom: 100px;
    text-align: center; }
  .row.vertical-divider div[class^="col-"]:first-child {
    border-left: 0; }
  .row.vertical-divider div[class^="col-"]:last-child {
    border-right: 0; }
