<div class = "container">

  <div class="row">
    <div class = "col-sm-12 black-cards-bar">
      <div class = "row">
        <div class = "col-sm-3 col-xs-2 black-cards-deck-holder">
          <div class = "game-cards deck-of-black-cards">
            CFH.IO
          </div>
        </div>
        <question></question>
        <div class = "col-sm-3 col-xs-2 timer-place">
          <timer></timer>
          <button ng-click="abandonGame()" type="button" class="btn btn-default btn-md exit">Leave Game</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class = "col-sm-12 col-xs-12 players-cards">
      <div class = "row">
        <player players="game.players"
        ng-hide="(game.state === 'game dissolved' || game.state === 'game ended')">
        </player>
        <answer></answer>
        <chat></chat>
      </div>
    </div>
  </div>

  <info-modal ng-show="showModal"><info-modal>
</div>